body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.text-wrapper {
  color: white;
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  padding: 0.5rem;
}
.text-wrapper p {
  line-height: 1.5rem;
}
.social-icons {
  position: absolute;
  border: 2px solid white;
  width: 500px;
  padding: 3rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.social-icons a {
  text-decoration: none;
}
.social-icons i {
  color: white;
  font-size: 3rem;
  margin-right: 1rem;
}
.social-icons i:hover {
  color: yellow;
  transform: scale(1.6);
  transition: 0.5s ease-in;
}
/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .text-wrapper {
    color: white;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    padding: 0.5rem;
  }
  .text-wrapper p {
    line-height: 1.5rem;
  }
  .social-icons {
    position: absolute;
    border: 2px solid white;
    width: 200px;
    padding: 3rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .social-icons a {
    text-decoration: none;
  }
  .social-icons i {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .social-icons i:hover {
    color: yellow;
    transform: scale(1.6);
    transition: 0.5s ease-in;
  }
}
@media (width: 320px) {
  .social-icons {
    position: absolute;
    border: 2px solid white;
    width: 200px;
    padding: 3rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 3rem;
  }
}
@media (width: 414px) {
  .social-icons {
    position: absolute;
    border: 2px solid white;
    width: 250px;
    padding: 3rem;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 3rem;
  }
  .social-icons i {
    color: white;
    font-size: 3rem;
    margin-right: 1rem;
    margin-bottom: 2.2rem;
  }
}
